[Unit]
Description=GUnicorn HTTP Server
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=elune
Group=elune
RuntimeDirectory=gunicorn
WorkingDirectory=/home/elune/Documents/projects/python_entry_task
ExecStart=/home/elune/Documents/projects/python_entry_task/venv/bin/gunicorn --pid /run/gunicorn/pid \
        --bind unix:/run/gunicorn/socket python_entry_task.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
